body {
    background-image: url(https://textinmotion.com/media/backgrounds/000/000/433/background/full/QuizText-BG.jpg);
}
.questionsBox {
    border: 2px solid white;
    padding: 10px 40px 40px 40px;
    background-color: beige;
    margin-top: 4rem;
    height: 500px;

}